* {
    margin: 0;
    padding: 0;
    font-size: 1.01em;
}
html {
    scroll-behavior: smooth;
}
header, footer,.header_two {
    background: #f3eeda;
}
.header_two {
    box-shadow: 0 5px 5px rgba(58, 57, 57, 0.281);
    background-color: #f3eedafa;
}
footer {
    box-shadow: 5px 0 5px rgba(58, 57, 57, 0.281);
    min-height: 73px;
}
body {
    font-family: Garamond, serif;
}
main {
    background:  url(assets/wooden_slats.png);
}
#section_two {
    border-radius: 40px;
    overflow: hidden;
    max-height: 80vh;
}
#count-down {
    color: #f1f1f1;
    text-shadow: #4d744d 3px 3px;
}
.portrait {
    padding-left: 0;
    padding-right: 0;
}
.title {
    font-family: 'Kunstler Script', sans-serif;
    color: #3f8027;
    /* color: #a7c999; */
    white-space: nowrap;
}
.title-date {
    font-weight: bold;
    color:#6c866f;
    font-size: 1.2em;
}
.title-address {
    color: rgb(37, 75, 32);
}
.overlay-text {
    color:#dce7db;
    height: 40%;
    text-shadow: 3px 3px #797e79;;
}
.overlay-text-primary {
    font-size: calc(5vw);
}
.overlay-text-secondary {
    color:rgb(61, 63, 61);
    font-size: calc(2.5vw);
}
.section_nav {
    height: 5em;
}
.section_wrapper {
    background: rgba(226, 226, 223, 0.849);
}
.section_header {
    background: rgba(226, 226, 223, 0.418);
    color: rgb(119, 103, 72);
    border-radius: 2em !important;
}
.anchor {
    position: relative;
    top: -158px;
}
.nav_anchor, .nav_anchor:hover, .nav_anchor:visited {
    text-decoration: none;
    color: black !important;
}
.side-image {
    height: calc(100vh - 92px - 103px);
}
.card:hover {
    cursor: pointer;
}
.details-1 > ul {
    width: max-content;
}