* {
    margin: 0;
    padding: 0;
    font-size: 1.01em;
}
html {
    scroll-behavior: smooth;
}
header, footer,.header_two {
    background: #f3eeda;
}
.header_two {
    box-shadow: 0 5px 5px rgba(58, 57, 57, 0.281);
    background-color: #f3eedafa;
}
footer {
    box-shadow: 5px 0 5px rgba(58, 57, 57, 0.281);
    min-height: 73px;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
main {
    background-color: rgb(159, 180, 162);
}
.title {
    font-family: 'Kunstler Script', Helvetica, sans-serif;
    color: #3f8027;
    /* color: #a7c999; */
}
.title-date {
    font-weight: bold;
    color:#6c866f;
    font-size: 1.2em;
}
.title-address {
    color: rgb(37, 75, 32);
}
.overlay-text {
    color:#dce7db;
    height: 40%;
    text-shadow: 3px 3px #797e79;;
}
.overlay-text-primary {
    font-size: calc(5vw);
}
.overlay-text-secondary {
    color:rgb(61, 63, 61);
    font-size: calc(2.5vw);
}
.section_nav {
    height: 5em;
}
.section_wrapper {
    min-height: calc(100vh - 103px - 92px);
    background: rgba(226, 226, 223, 0.849);
}
#section_one {    
    background-image: url(assets/RebecaKamp_01.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
.section_wrapper:last-child {
    min-height: calc(100vh - 92px - 103px);
    margin-top: auto;
    margin-bottom: auto;
}
.anchor {
    position: relative;
    top: -158px;
}
.nav_anchor, .nav_anchor:hover, .nav_anchor:visited {
    text-decoration: none;
    color: black !important;
}
.side-image {
    height: calc(100vh - 92px - 103px);
}