* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
header, footer,.header_two {
    background: #f3eeda;
}
.header_two {
    box-shadow: 0 5px 5px rgba(58, 57, 57, 0.281);
}
footer {
    min-height: 73px;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
main {
    background-color: rgb(159, 180, 162);
}
.title {
    font-family: 'Kunstler Script', Helvetica, sans-serif;
    color: #3f8027;
    /* color: #a7c999; */
}
.title-date {
    font-weight: bold;
    color:#6c866f;
    font-size: 1.2em;
}
.title-address {
    color: rgb(37, 75, 32);
}
.overlay-text {
    color:#acd1a8;
    height: 35%;
    text-shadow: 3px 3px #727c73;;
}
.overlay-text-primary {
    font-size: calc(5vw);
}
.overlay-text-secondary {
    color:rgb(40, 43, 40);
    font-size: calc(2.5vw);
}
.section_nav {
    height: 5em;
}
.sections {
    height: calc(100vh - 73px - 116px);
}
.section_wrapper:nth-child(odd) {
    background: rgba(173, 173, 173, 0.849);
}
#section_one {    
    /* background-image: url(assets/barn_whole.jpg); */
    background-image: url(assets/HandRing.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 256px);
}
#section_two {
    height: calc(100vh - 116px); 
}
.anchor {
    position: relative;
    top: -172px;
}
